@import './base.css';

:root {
  --space: 70px;
  --half-space: calc(var(--space) / 2);
  --huge-space: 90px;
}


.container {
  max-width: 1200px;
}

.grid-4 {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto !important;
}

.grid-12 {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: auto !important;
}

.fixed {
  position: fixed !important;
}

@media screen and (max-width:480px) {


  /* MOBILE */
  .container {
    max-width: 480px;
  }

  /* .hero-detail {
    padding: 0 20px;

  } */


}

@media screen and (min-width:481px) and (max-width:768px) {

  /* TABLET */
  :root {
    --space: 30px;
    --half-space: calc(var(--space) / 2);
    --huge-space: 40px;
  }

  body {
    /* background-color: pink; */
  }

  .grid-12 {
    gap: 10px;
  }

  .container {
    max-width: 100%;

  }

  .main-menu {
    display: none !important;
  }

  .main-image {
    width: 100% !important;
  }

  .data h3 {
    font-size: 1.3rem;
  }

  .data .description {
    font-size: 12px !important;
  }

  .data .flex {
    flex-direction: column !important;
    align-items: start;
    gap: 5px;

  }

  .details .variants {
    flex-direction: column !important;
    align-items: start;
    gap: 15px;

  }

  .variants .colors,
  .variants .sizes {
    width: 100%;

  }

  .variants .colors p,
  .variants .sizes p {
    /* flex-direction: column !important;
    gap: 10px; */
    width: 140px;

  }

  .variants .colors ul,
  .variants .sizes select {

    width: 100%;
  }

}

@media screen and (min-width:769px) and (max-width:1024px) {
  :root {
    --space: 45px;
    --half-space: calc(var(--space) / 2);
    --huge-space: 55px;
  }

  body {
    /* background-color: teal; */
  }

  /* DESKTOP */
  .container {
    max-width: 960px;
  }

  .main-image {
    width: 100% !important;
    height: auto;
    aspect-ratio: 1 / 1 !important;
  }
}

@media screen and (min-width:1025px) {
  body {}

  /* DESKTOP */
  .container {
    max-width: 1200px;
  }
}